<div id="about">
  <hr>
</div>
<hr>
<section class="section">
</section>  
<h1><strong>About Us</h1></strong>
<section class="section">
  <div class="container">
    <p class="lead">Glasgow Kelvin College is the newest of Glasgow’s three regional further education colleges. Formed by
      the merger of John Wheatley, North Glasgow and Stow colleges in November 2013, Glasgow Kelvin has all the expertise,
      facilities and resources to ensure that students receive a high quality learning experience that will provide them
      with the skills and knowledge to enable them to compete in today’s challenging jobs market, or to move on to further,
      more advanced learning. The range of courses available at Glasgow Kelvin is designed to meet the needs of learners
      of all ages and all levels of ability from introductory tasters and National Qualifications, through Higher Nationals,
      right up to degree level qualifications. We welcome enquiries and applications from individuals from all backgrounds
      and abilities. So whatever your plans and career aspirations, Glasgow Kelvin is uniquely positioned to help you achieve
      your potential and realise your ambitions. Please take a good look at the exciting range of learning opportunities
      we have and think about how a course at Glasgow Kelvin could start you on the road to success.
    </p>
    <hr>
  </div>
</section>
<section class="section">
  <div class="container">
    <p class="lead">
      <section class="section">
        <div class="container">
          <p class="lead">Glasgow Kelvin College provides flexible learning opportunities to students and members of the
            public to improve their digital skills. These courses are free and available to all and they would like a website
            that informs potential learners about the courses that are available and how to access the opportunities. The
            courses that the college offers can be split into three main categories: College Certification, SQA Certification
            and ECDL (European Computer Driving Licence).
          </p>
          <hr>
        </div>
      </section>

    </p>
    <hr>
  </div>
</section>