<div id="College-certification">
  <hr>
  <h1><strong>College Certification</h1></strong>
</div>
<hr>
<section class="section">
  <div class="container">
    <h3>Course Information</h3>
    <p class="lead">This NC full-time course is delivered at Level 4, 5 and 6 and is available starting in August (final
      level placement will be determined at an Aptitude Event’). The course is aimed at young people leaving school or adults
      who have limited computing experience and would like to progress into the industry or onto further study..
    </p>
    <div class="one-third" style="background-image:url(img/pexels-photo-1458318.jpeg);height:300px;width:300px;border:0px;padding:0px;position:relative">
      <div style="position: absolute;bottom: 0px;padding-bottom: 5px;padding-left: 5px;"> </div>
    </div>
    <hr>
    <div class="so-widget-sow-button so-widget-sow-button-flat-b1a319bfc4ed">
      <div class="ow-button-base ow-button-align-center"><a href="#" class="ow-icon-placement-left ow-button-hover"><span><span
       class="sow-icon-fontawesome sow-fas" data-sow-icon="" style="color: #ffffff"></span>APPLY NOW</span></a></div>
    </div>
  </div>
</section>