<div id="contact">
  <hr>
  <h1><strong>Contact Us</h1></strong>
</div>
<hr>
<section class="section">
  <div class="container">
    <hr>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div style="font-size: 2em; color: right; background: #ec008c; " class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h1>Easterhouse Flexible Learning Centre</h1>
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <h2>Phone: 0141 630 5000 </h2>
            <hr>
            <h2>Fax: 0141 630 5001 Main </h2>
            <hr>
            <h2>address: 2 Haghill Road, Glasgow G31 3SR</h2>
            <hr>
            <h2>Email: info@glasgowkelvin.ac.uk</h2>.
            <hr>
          </div>
        </div>
      </div>
      <div class="card">
        <div style="font-size: 2em; color: right; background: #ec008c;" class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h1>East End Flexible Learning Centre</h1>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <h2>Phone: 0141 630 5000 </h2>
            <hr>
            <h2>Fax: 0141 630 5001 Main </h2>
            <hr>
            <h2>address: 123 Flemington St Glasgow G21 4TD</h2>
            <hr>
            <h2>Email: info@glasgowkelvin.ac.uk</h2>.
            <hr>
          </div>
        </div>
      </div>
      <div class="card">
        <div style="font-size: 2em; color: right; background: #ec008c;" class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h1>Springburn Library and Flexible Learning Centre</h1>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            <h2>Phone: 0141 630 5000 </h2>
            <hr>
            <h2>Fax: 0141 630 5001 Main </h2>
            <hr>
            <h2>address: 75 Hotspur Street, Glasgow G20 8LJ</h2>
            <hr>
            <h2>Email: info@glasgowkelvin.ac.uk</h2>.
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>