<div id="how-aply">
  <hr>
  <h1><strong>How-Aply</h1></strong>
</div>
<hr>
<section class="section">
  <div class="container">
    <h3>Browse, apply and check your status online</h3>
    <p class="lead">you can either search for a particular course, or scroll through the list of courses available. By clicking
      the “View” button, you will be able to access specific course details such as entry requirements, course content and
      progression opportunities. Once you have decided on your choice of course, click the “Apply” button to add it to your
      basket. You can add a maximum of two courses to your basket. You will then have to log in or register to progress to
      the next stage of completing the online application form. When you have completed all the fields within the form, simply
      click the “Submit Application” button to finalise your application. You can check the status of your application at
      any time by logging in and clicking the “My Applications” button on the menu bar. If you need any help completing the
      online application form, please email info@glasgowkelvin.ac.uk and someone from our admissions team will contact you.
      You can also request a printed application form from the College reception. Once you have completed the form you can
      return it by post or hand it in to any Glasgow Kelvin campus.
    </p>
    <hr>
   <button type="button" class="btn btn-success btn-lg btn-block">Online Application Login</button>     
  </div>
</section>