<div id="All-courses">
</div>
<hr>
<h1><strong>All Courses</h1></strong>
 <hr>
<section class="card">
  </div>
  <hr>
  <div>
      <h2>At the moment, the centre is open Monday to Friday</h2>
    </div>
 <hr>
 <div style="overflow-x:auto;">
  <table class="table">
  <thead>
      <tr>
        <th></th>
        <th class="hide">Monday</th>
        <th class="hide">Tuesday</th>
        <th class="hide">Wednesday</th>
        <th class="hide">Thurday</th>
        <th class="hide">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="hide"> AM 9:30 - 12:15</th>
        <td class="hide">NO Tutor</td>
        <td class="hide">Tutor on Duty</td>
        <td class="hide">Tutor on Duty</td>
        <td class="hide">Tutor on Duty</td>
        <td class="hide">NO Tutor</td>
      </tr>
      <tr>
        <th class="hide"> PM 1 - 4:15</th>
         <td class="hide">Tutor on Duty</td>
        <td class="hide">Tutor on Duty</td>
        <td class="hide">Tutor on Duty</td>
        <td class="hide">Tutor on Duty</td>
         <td class="hide">Tutor on Duty</td>
        
      </tr>
    </tbody>
  </table>
  </div>
  <hr>
  <section class="card">
    <div class="container">
      <h1 class="medio-title">Course Department</h1>
    </div>
    <section class="section">
      <div class="container">
        <hr>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div style="font-size: 2em; color: right; background: #00adee; " class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h1>College Certification</h1>
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Word Processing</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Spreadheets</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Presentation Software</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Database</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Email</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Internet</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to file Management</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction and Intermediate Mobile App Development</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to Office 365 Web Apps </a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to coding</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to Cyber Security</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to web Development</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to the Internet of Thing</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Introduction to Digital Markething</a></h2>
                <hr>
              </div>
            </div>
          </div>
          <div class="card">
            <div style="font-size: 2em; color: right; background: #00adee;" class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h1>SQA</h1>
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                <h2> <a class="dropdown-item" href="#">Using a Keyboard</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Computer Basics</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Digital Skills</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Computer Applications</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">PC Passport- WEB Apps: Word processing</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">PC Passport- Web Apps: Spreadheets</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">PC Passport- Web Apps: Presentations</a></h2>
                <hr>
              </div>
            </div>
          </div>
          <div class="card">
            <div style="font-size: 2em; color: right; background: #00adee;" class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h1>ECDL</h1>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                <h2> <a class="dropdown-item" href="#">Unit 1 -IT Security</a></h2> 
                <hr>
                <h2> <a class="dropdown-item" href="#">Unit 2 -IT User Fundamentals</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Unit 3 -IT Word Precessing</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Unit 4 -IT Spreadheets</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Unit 5 -IT Datanases</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Unit 6 - Presentations</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Unit 7 -Internet & Email</a></h2>
                <hr>
              </div>
            </div>
          </div>
          <div class="card">
            <div style="font-size: 2em; color: right; background: #00adee;" class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h1>Codeworks Course</h1>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                <h2> <a class="dropdown-item" href="#">Getting Started with Codeworks</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Codeworks Digital</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Codeworks Developer</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Codeworks Pro</a></h2>
                <hr>
              </div>
            </div>
          </div>
          <div class="card">
            <div style="font-size: 2em; color: right; background: #00adee;" class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h1> Certification</h1>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                <h2> <a class="dropdown-item" href="#">NPA Digital Literacies – SCQF Level 3</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">NPA PC Passport – Web Apps – SCQF Level 4</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">Codeworks Developer Certificate</a></h2>
                <hr>
                <h2> <a class="dropdown-item" href="#">PDA Web Development</a></h2>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </section>
   