<section class="card">
  <div class="media">
    <img class="Thumbnail mx-auto d-block logo m-4" src="/img/GKClogowithtext.jpg" alt="Generic placeholder image">
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <img class="Rounded Corners mx-auto d-block media m-2" src="/img/pexels-photo-1458318.jpeg" alt="Generic placeholder image">
      </div>
      <div class="col">
        <img class="Rounded Corners  mx-auto d-block media m-2" src="/img/pexels-photo-1438081.jpeg" alt="Generic placeholder image">
      </div>
      <div class="col">
        <img class="Rounded Cornersmx-auto d-block media m-2" src="/img/pexels-photo-1462631.jpeg" alt="Generic placeholder image">
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <h1 class="medio-title">Cursos</h1>
  </div>
  <hr>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>College CertificationL</h2>
        <p>Learners can take a range of courses at different levels and receive college certification and recognition for
          learning. Introductory courses are for those with little or no experience of using a computer or digital device.
          The introductory courses cover a range of skills such as using office applications, file management up to developing
          mobile apps and web pages. Intermediate courses build upon skills developed through the introductory courses and
          will generally lead to preparing learners for ECDL assessments or further study in other programmes </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>SQA</h2>
        <p>The SQA units available in Flexible learning are aimed at SCQF levels 3 and 4. These units have been chosen as
          they combine well with our introductory and intermediate college certificated courses. The level 3 courses in Using
          A Keyboard and the NPA in Digital Literacies which comprises the Computer Basics, Digital Skills and Computer Applications
          units. These can be achieved as stand-alone units but all three must be completed to receive the NPA in Digital
          Literacies. At level 4 the PC Passport NPA again is comprised of three units: Web Apps: Word Processing, Web Apps:
          Spreadsheets and Web Apps: Presentations. These again can be achieved as stand-alone units but all three must be
          completed to receive the NPA.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>ECD</h2>  
        <p>The European Computer Driving Licence is an SCQF level 5 course made up of 7 units. All 7 units must be completed
          to achieve your certificate. The units are mainly practical - from using office applications, managing files and
          using the internet and email applications. There are also a couple of units which require you to demonstrate knowledge
          and understanding of IT security and the fundamentals of using the operating system.
        </p>
        <p> <a class="btn btn-primary btn-lg" href="#" role="button">View details </a></p>
      </div>
    </div>
  </div>
  <hr>
</section>