body {
  background: #fcadeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

img {
  width: 100%;
}

/* section */
.section{
  padding: 2rem 0;
}

.section-head{
  font-size: 2.5rem;
  margin: 0;
}

.section h3{
  font-size: 2rem;
}

.logo {
  width: 16%;
}

.media {
  width: 90%;
}
.col {
 
  border: solid 1px black;
}

.container {
  position: relative;
  font-family: Arial;
}

/* main */
#main {
 margin: 0;
 padding: 0;
 background: url("/img/Collegepic.jpg") no-repeat center/cover;
 width: 100%;
 height: 100vh;
 position: relative;
 overflow-y: hidden;
}

#main {
  margin-top: 2ch;
}

#main h1{
  font-size: 4rem;
  margin-bottom: 0;
}

#main h2{
  font-size: 2rem;

}



/*About */
#about {
  margin: 0;
  padding: 0;
  background: url("/img/people-woman-coffee-meeting.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #about h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}
 


/*Footer */

/* Utility classes */
.container{
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

 .lead{
   font-size: 1.3rem;
 }
