body {
  font-family: "Lato", sans-serif;
  background: #fcadeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}

img {
  width: 100%;
}

/* section */
.section{
  padding: 2rem 0;
}

.section-head{
  font-size: 2.5rem;
  margin: 0;
}

.section h3{
  font-size: 2rem;
}

.logo {
  width: 16%;
}

.container {
  position: relative;
  font-family: Arial;
}



/* Home*/

#carouselExampleIndicators h3{
  font-size: 6rem;
}

#carouselExampleIndicators h2{
  font-size: 4rem;
}

#carouselExampleIndicators p{
  font-size: 3rem;
}
.section-head {
  font-size: 6rem;
}

/*About */
#about {
  margin: 0;
  padding: 0;
  background: url("/img/people-woman-coffee-meeting.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #about h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/*All-courses */
#All-courses {
  margin: 0;
  padding: 0;
  background: url("/img/all-courses.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }

 #All-courses .container{
   margin:2px solid;
   padding:4px;
 }
 
#All-courses h1 {
 color: aliceblue;
 font-size: 4rem;
 margin-bottom: 0;
}

#All-courses .table {
flex: none;
}

#accordion .collapse .dropdown-item {
  flex: none;
  }
  
.medio-title{
  font-size: 3rem;
  text-align: left;
}

.table th {
  color :black;
 font-size: 1.5rem;
}
.table td {
  font-size: 1rem;
}


 
 /*general-information */
#general-information {
  margin: 0;
  padding: 0;
  background: url("/img/pexels-photo-1454360.jpeg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #general-information h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

 /*information-collegue */
 #contact {
  margin: 0;
  padding: 0; 
  background: url("/img/contact.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #contact h1{
  color: aliceblue;
  font-size: 6rem;
  margin-bottom: 0;
}

#accordion h1{
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 0;
}

/*student-welcome */
#student-welcome {
  margin: 0;
  padding: 0;
  background: url("/img/pexels-photo-1462631.jpeg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #student-welcome h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/*ours-performarce*/
#our-performarce {
  margin: 0;
  padding: 0;
  background: url("/img/ours-permormance.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #our-performarce h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/*College-certification*/
#College-certification {
  margin: 0;
  padding: 0;
  background: url("/img/student-charter.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #College-certification h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/*sqa*/
#sqa {
  margin: 0;
  padding: 0;
  background: url("/img/smartmockups_jsnmff9q.png") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #sqa h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/*ecd*/
#ecd {
  margin: 0;
  padding: 0;
  background: url("/img/smartmockups_jucvibgs.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #ecd h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/*student-charter*/
#student-charter {
  margin: 0;
  padding: 0;
  background: url("/img/student-charter.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #student-charter h1{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}



/* how-aply */
#how-aply {
  margin: 0;
  padding: 0;
  background: url("/img/aply.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
 }
 #how-aply h3{
  color: aliceblue;
  font-size: 4rem;
  margin-bottom: 0;
}

/* Student-details */
#details.card-header{
position: relative;
}




/* Contact */





/*Footer */

/* Utility classes */
.container{
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

 .lead{
   font-size: 1.3rem;
 }


/* Media Queries */

 @media screen and (max-width: 1024px) {
  .table-responsive{  
    overflow-y: hidden;
    font-family: serif;
    word-spacing: 0px;
    margin: 20px top;
    
   
    
  }
  .dropdown-item{
    font-size: 20px;
    width: 100%;
  }

}
@media screen and (max-width: 780px) {
  .table{  
    background-color: aqua;
    font-size: 1px;
    width: 95%;
   
  }
  .dropdown-item{
    font-size: 15px;
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  .table {  
    width: 150%;
    padding: 5px;
    margin: 10px top;
  }
  .dropdown-item{
    width: 50%;
  }
}