<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: ;">
        <div class="container">
        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Kelvin Collegue</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>These courses are free and available to all and they would like a website
                    that informs potential learners about the courses that are available and how to access the opportunities.
                    .</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Media</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Home</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Media</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Contact</a>
                </p>
                

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Your Account</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Regist</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Easterhouse, 1200 Westerhouse Rd, G34 9HZ,Uk</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@glasgowkelvin.ac.uk</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> 0141 630 5000</p>
                <p>
                    <i class="fas fa-print mr-3"></i> 0141 630 5001</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">copyright &copy:
        <a class="dark-grey-text" href="#"> 2019 Kelvin Collegue:</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->