<footer>
    <div class="container">
        <div class="footer-cols">
            <ul>
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">media</a>
                </li>
                <li>
                    <a href="#">contact</a>
                </li>
                <li>
                    <a href="#">login</a>
                </li>
            </ul>
            <div class="footer-bottom text-center">
                copyright &copy: 2019 Kelvin Collegue
            </div>
        </div>
    </div>
</footer>