<div id="general-information">
  <hr>
  <h1><strong>Student Information</h1></strong>
</div>
<hr>
<section class="section">
  <div class="container">
    <p class="lead">Glasgow Kelvin College is a new college with a fresh approach to learning but we have years of experience
      behind us that makes us strong and the right choice for you – regardless of your level of study of further education.
      Going to college is exciting! Our staff have gained a reputation for being friendly, approachable and professional
      and will provide you with the relevant skills required in today’s workplace. Learning is quite informal and tutors
      teach in a highly realistic manner, reflecting current workplace practices. Some courses provide the opportunity to
      attend a work placement making the experience at college even more realistic and practical. Every applicant will have
      different needs so we offer a variety of programmes that can be studied in different ways. Many of our programmes run
      on a full-time and part-time basis and your options would be discussed with you at a pre-entry interview. With our
      excellent links with Universities in and around Glasgow; the University of Strathclyde, Glasgow Caledonian University
      and the University of the West of Scotland, as well as the Open University, we can help you to progress further
    </p>
    <hr>
  </div>
</section>